In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

In [2]:
df = yf.download('AAPL')

[*********************100%***********************]  1 of 1 completed

In [3]:
df.head()

                Open      High       Low     Close  Adj Close     Volume
Date
1980-12-12  0.128348  0.128906  0.128348  0.128348   0.099722  469033600
1980-12-15  0.122210  0.122210  0.121652  0.121652   0.094519  175884800
1980-12-16  0.113281  0.113281  0.112723  0.112723   0.087582  105728000
1980-12-17  0.115513  0.116071  0.115513  0.115513   0.089749   86441600
1980-12-18  0.118862  0.119420  0.118862  0.118862   0.092351   73449600

In [ ]:
df['Daily Returns'] = df.loc[]